<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/img/1.png" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>Los mejoreres productos</h3>
			<p>Frutas de temporada</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/img/2.png" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>La mejor calidad al mejor precio</h3>
			<p>Enviamos a todo el país</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/img/3.png" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>No keyboard...</h3>
			<p>This carousel uses customized default values.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/img/4.png" alt="Random fourth slide" />
		</div>
		<div class="carousel-caption">
			<h3>And no wrap after last slide.</h3>
			<p>This carousel uses customized default values.</p>
		</div>
	</ng-template>
    <ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/img/5.png" alt="Random fourth slide" />
		</div>
		<div class="carousel-caption">
			<h3>And no wrap after last slide.</h3>
			<p>This carousel uses customized default values.</p>
		</div>
	</ng-template>
</ngb-carousel>