<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<div class="wrapper">
    <div  class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="Login">

      <h6>Le enviamos un correo de verificación para validar su cuenta</h6>
        
      <div class="d-grid gap-2 mb-3" >
        <button type="button" class="btn btn-success" routerLink="/login">Volver</button>
      </div>
    </div>
   
    
</div>