<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="Login">

      <h1>Recuperar</h1>
        <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="correo" placeholder="name@example.com">
                <label>Tu e-mail</label>
                <span *ngIf= "recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
                  El <strong>correo</strong> es requerido
                </span>
                <span *ngIf= "recuperarUsuario.get('correo')?.hasError('email') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
                  El <strong>correo</strong> es invalido
                </span>
              </div>
            

              <div class="d-grid gap-2 mb-2" >
                <button type="submit" [disabled]="recuperarUsuario.invalid" class="btn btn-success">Recuperar</button>
              </div>

              <a routerLink="/login">Volver</a>
        </form>

    </div>
    <app-spinner *ngIf="loading"></app-spinner>
    
</div>